<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RemTraining</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="top-wrap" style="background-image: url(../img/top-wrap-bg.png);">
        <div class="container">
            <div class="title">Хотите зарабатывать от <br> 60.000 руб уже через неделю?
            </div>
            <div class="desc">Пройдите бесплатное обучение и получите<br> <b>гарантированное</b> трудоустройство!
            </div>
            <div class="ex-items">
                <div class="ex-item">
                    <img src="../img/svg/ex2.svg" alt="">
                    <span>Понятная подача<br> 
                            материала</span>
                </div>
                <div class="ex-item">
                    <img src="../img/svg/ex2.svg" alt="">
                    <span>Минимум теории</span>
                </div>
                <div class="ex-item">
                    <img src="../img/svg/ex3.svg" alt="">
                    <span>Только реальные <br>
                            навыки</span>
                </div>
            </div>
            <a href="#" class="btn-yellow">Записаться на курс</a>
        </div>
        <img src="../img/master.png" alt="" class="man">
    </div>


    <div class="why-our">
        <div class="container">
            <div class="title">Почему <b>мы</b>?</div>
            <div class="why-our-items">
                <div class="why-our-item">
                    <div class="why-our-item--img"><img src="../img/svg/why1.svg" alt=""></div>
                    <div class="why-our-item--title">Востребованная профессия за 5 дней</div>
                    <div class="why-our-item--desc">Программа обучения построена так, что всего за <b>5 дней</b> вы освоите новую профессию и пройдете стажировку.
                    </div>
                </div>
                <div class="why-our-item">
                    <div class="why-our-item--img"><img src="../img/svg/why2.svg" alt=""></div>
                    <div class="why-our-item--title">Гарантированная<br> работа
                    </div>
                    <div class="why-our-item--desc">По окончании обучения вы сможете выбрать <b>трудоустройство</b> у нас или начать свое дело.
                    </div>
                </div>
                <div class="why-our-item">
                    <div class="why-our-item--img"><img src="../img/svg/why3.svg" alt=""></div>
                    <div class="why-our-item--title">Более 400 учеников</div>
                    <div class="why-our-item--desc">За 3 года обучения, больше <b>400 человек</b> прошли наше обучение и 70% работает у нас с зарплатой от 60 тыс. рублей.
                    </div>
                </div>
                <div class="why-our-item">
                    <div class="why-our-item--img"><img src="../img/svg/why4.svg" alt=""></div>
                    <div class="why-our-item--title">Прикладные навыки</div>
                    <div class="why-our-item--desc">Мы не обучаем тому, что не пригодиться в жизни. После наших курсов, вы сможете <b>применить</b> знания сразу же.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="stat">
        <div class="container">
            <img class="decor1" src="../img/decor1.png" alt="">
            <img class="decor2" src="../img/decor2.png" alt="">
            <div class="title">Печальная статистика</div>
            <div class="stat-items">
                <div class="row">
                    <div class="stat-item col-xl-4">
                        <b>4,6</b>
                        <span>млн человек в<br> 
                            России – безработные</span>
                    </div>
                    <div class="stat-item col-xl-4">
                        <b>49%</b>
                        <span>работающих в России хотели<br> бы сменить профессию</span>
                    </div>
                    <div class="stat-item col-xl-4">
                        <b>1%</b>
                        <span>кто поменял профессию<br> находят работу по новому направлению
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-wrap">
        <div class="container">
            <div class="row">
                <div class="why-items col-xl-10 offset-xl-1">
                    <img class="man-img" src="../img/man.png" alt="">
                    <div class="why-text col-xl-5 offset-xl-6">
                        <div class="title">Почему?</div>
                        <div class="why-text-items">
                            <div class="why-text-item">Слишком долгое обучение 6-12 месяцев</div>
                            <div class="why-text-item">Слишком много теории и мало практики
                            </div>
                            <div class="why-text-item">Большинство курсов для тех, кто хочет быть программистом или дизайнером</div>
                            <div class="why-text-item">Никто не заинтересован в последующем трудоустройстве, после обучение</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="courses" id="format">
        <div class="container">
            <div class="title">Наши курсы <b>другие</b></div>
            <div class="desc">После нашего обучения и успешного прохождения вами экзамена,<br> мы <b>гарантированно</b> берем вас на работу</div>
            <div class="courses-items">
                <div class="courses-item courses-item-1">
                    <div class="courses-item__left">
                        <img src="../img/svg/cource-ico1.svg" alt="">
                    </div>
                    <div class="courses-item__right">
                        <div class="courses-item-title">Продолжительность курсов</div>
                        <div class="courses-item-desc"><b>5 рабочих</b> дней по 7 часов в день. С 10:00 до 17:00</div>
                    </div>
                </div>
                <div class="courses-item courses-item-2">
                    <div class="courses-item__left">
                        <img src="../img/svg/cource-ico2.svg" alt="">
                    </div>
                    <div class="courses-item__right">
                        <div class="courses-item-title">Формат</div>
                        <div class="courses-item-desc">Теоретический материал и практические занятия в учебных <b>классах</b>
                        </div>
                    </div>
                </div>
                <div class="courses-item courses-item-3">
                    <div class="courses-item__left">
                        <img src="../img/svg/cource-ico3.svg" alt="">
                    </div>
                    <div class="courses-item__right">
                        <div class="courses-item-title">График</div>
                        <div class="courses-item-desc">Вы сможете <b>менять</b> график занятий и посетить пропущенные уроки в другие дни
                        </div>
                    </div>
                </div>
                <div class="courses-item courses-item-4">
                    <div class="courses-item__left">
                        <img src="../img/svg/cource-ico4.svg" alt="">
                    </div>
                    <div class="courses-item__right">
                        <div class="courses-item-title">Инструменты</div>
                        <div class="courses-item-desc">Мы предоставим вам все <b>необходимые</b> материалы, инструменты и технику для занятий
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="programms" id="programms">
        <div class="container">
            <div class="title">Программы обучения</div>
            <div class="programms-btns">
                <div class="row">
                    <div class="col-xl-6">
                        <a href="javascript:void(0);" data-switch="prog_1" class="active">Ремонт стиральных и посудомоечных машин</a>
                    </div>
                    <div class="col-xl-6">
                        <a href="javascript:void(0);" data-switch="prog_2">Ремонт холодильников</a>
                    </div>
                </div>
            </div>
            <div class="programms-box">
                <div class="programms-elem" id="prog_1">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="prog-title">Программа курса "Ремонт стиральных и посудомоечных машин"</div>
                            <div class="prog-desc">Занятие 5 дней</div>
                            <div class="prog-items">
                                <div class="prog-item">Семичасовое обучение проходит с 10:00 до 17:00 в течение 5 рабочих дней.</div>
                                <div class="prog-item">В программу курса включены занятия по теории, проводимые в специализированном.</div>
                                <div class="prog-item">В последний день обучения вы закрепите пройденный материал и получите.</div>
                            </div>
                            <a href="#" class="btn-yellow">Записаться на курс</a>
                        </div>
                        <div class="col-xl-6">
                            <div class="video-prog"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/UMS0vFOyucA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

                        </div>
                    </div>
                </div>
                <div class="programms-elem" id="prog_2" style="display: none;">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="prog-title">Программа курса "Ремонт холодильников"</div>
                            <div class="prog-desc">Занятие 5 дней</div>
                            <div class="prog-items">
                                <div class="prog-item">Семичасовое обучение проходит с 10:00 до 17:00 в течение 5 рабочих дней.</div>
                                <div class="prog-item">В программу курса включены занятия по теории, проводимые в специализированном.</div>
                                <div class="prog-item">В последний день обучения вы закрепите пройденный материал и получите.</div>
                            </div>
                            <a href="#" class="btn-yellow">Записаться на курс</a>
                        </div>
                        <div class="col-xl-6">
                            <div class="video-prog"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/UMS0vFOyucA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="skills">
        <div class="container">
            <div class="title">После окончания курса вы <b>сможете</b></div>
            <div class="skills-items">
                <div class="skill-item" style="background-image: url(../img/skill1.png);">
                    <div class="skill-item--title">Выявлять основные<br> неисправности</div>
                    <div class="skill-item--desc">
                        <p>Вы узнаете, как проводить <b>диагностику</b> часто встречающихся неисправностей бытовой техники.</p>
                        <p>Изучите основные <b>принципы</b> техники безопасности, которые необходимо соблюдать при ремонте бытовой техники.</p>
                    </div>
                </div>
                <div class="skill-item" style="background-image: url(../img/skill2.png);">
                    <div class="skill-item--title">Разбираться в элементах</div>
                    <div class="skill-item--desc">
                        <p>Вы научитесь правильно разбирать корпус приборов и производить монтаж и демонтаж блоков питания, выключателей и проводки.</p>
                    </div>
                </div>
                <div class="skill-item" style="background-image: url(../img/skill3.png);">
                    <div class="skill-item--title">Разбираться в электронных модулях</div>
                    <div class="skill-item--desc">
                        <p>Мы расскажем всё об устройстве электропривода: вы освоите сборку и разборку редуктора, узнаете, как следует производить замену приводных ремней, как починить или заменить электронные модули (клавиатуры, дисплеи, платы управления)
                            различных бытовых приборах.</p>
                    </div>
                </div>
                <div class="skill-item" style="background-image: url(../img/skill4.png);">
                    <div class="skill-item--title">Чинить любую бытовую технику</div>
                    <div class="skill-item--desc">
                        <p>После окончания наших курсов вы сможете самостоятельно отремонтировать большую часть бытовых приборов, которыми вы пользуетесь в быту: чайники, микроволновки, кухонные комбайны, пылесосы и многие-многие другие.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-wrap" style="background-image: url(../img/form-bg.jpg);">
        <div class="container">
            <div class="form-box">
                <div class="form-box__left">
                    <div class="title">Ваши знания подтверждены</div>
                    <div class="desc">По окончанию курсов вы <b>гарантированно</b> получите<br> сертификат нашей школы</div>
                    <img src="../img/sert.jpg" alt="">
                </div>
                <div class="form-box__right">
                    <form action="/" method="post" class="form">
                        <div class="title">Остались вопросы?</div>
                        <div class="desc">Заполните форму и наш менеджер<br> поможет вам с выбором курса</div>
                        <span><input type="text" placeholder="Ваше имя"></span>
                        <span><input type="tel" placeholder="Ваш телефон"></span>
                        <span><textarea name="message" id="message" placeholder="Ваш комментарий"></textarea></span>
                        <div class="agree">
                            <div class="chechbox-agree">
                                <input type="checkbox" name="agree" id="agree">
                                <label for="agree">Я даю свое согласие на обработку персональных данных</label>
                            </div>
                        </div>
                        <button class="btn-yellow" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts" id="contacts">
        <div class="map" id="yamap"></div>
        <div class="container">
            <div class="contacts-box">
                <div class="title">Контакты</div>
                <div class="address">Санкт-Петербург, ул. Марата, д. 37</div>
                <a href="tel:88002582545">8 800 258 25 45</a>
                <a href="tel:88002583592">8 800 258 35 92</a>
                <div class="work-time">Ежедневно с 10:00 до 21:00, без обеда</div>
                <a class="mail" href="mailto:masstroy@gmail.com">masstroy@gmail.com</a>
            </div>
        </div>
    </div>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>