@media screen and (max-width: 1600px) {
    .man {
        right: 5%;
    }
}

@media screen and (max-width: 1199px) {
    .menu {
        margin: 0 0 0 0;
    }
    .menu li {
        margin: 0 10px;
    }
    .header .btn-white {
        max-width: 122px;
        font-size: 12px;
    }
    .btn-white::after {
        width: 126px;
    }
    .header .phone {
        margin: 0 15px 0 0;
    }
    .header .phone::before {
        content: none;
    }
    .man {
        height: 65%;
    }
    .top-wrap {
        padding: 70px 0 70px 0;
    }
    .why-our-items {
        padding: 0 0 0 0;
    }
    .stat-item b {
        font-size: 64px;
    }
    .decor1,
    .decor2 {
        display: none;
    }
    .why-text-item {
        font-size: 14px;
    }
    .programms-btns a {
        font-size: 16px;
        padding: 18px 0 18px 0;
    }
    .programms-box .btn-yellow {
        margin-bottom: 30px;
    }
    .video-prog {
        height: 430px;
    }
    .skill-item {
        max-width: initial;
        width: 47%;
        padding: 35px;
        min-height: initial;
    }
    .footer-info {
        width: 37%;
    }
    .footer-bottom a {
        margin-right: 0;
    }
    .footer-bottom {
        justify-content: space-between;
    }
    .form-box {
        flex-direction: column;
    }
    .form-box__left {
        width: 100%;
    }
    .form-box__right {
        width: 100%;
    }
    .form-box__left .title {
        text-align: center;
    }
    .form-box__left .desc {
        text-align: center;
    }
    .form-box__left img {
        margin: 0 auto;
        margin-bottom: 25px;
    }
}